.page {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
}
.page > header {
    border-bottom: 2px solid #000;
    flex-basis: 100%;
}
.page > main {
    flex: 1 1 35rem;
}
.page > aside {
    flex: 1 1 15rem;
}