* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    
    justify-content: center;
    align-items: center;
  
    background: rgb(238, 238, 238);
    min-height: 100vh;
    border: 2px solid #000;
    
}
.card {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    /* height: auto; */
    flex: 0 5 20em;
    align-items: center;
    padding: 2em;
    max-width: 15em;
    
    background: rgb(255, 255, 255);
    padding: 0.5em;
    border-radius: 0.15em;
    box-shadow:
        0 0 0.5em 0 rgba(0, 0, 0, 0.3) inset,
        0 0 1em 0 rgba(0, 0, 0, 0.4)   
}