
html {
    font-family: Helvetica, sans-serif;;
    font-weight: 16px;
    line-height: 1.5;
}
body {
    font: inherit;
}
body > header {
    border-bottom: 2px solid black

}
header h1 {
    text-transform: uppercase;
    display: inline-block;
}
nav {
    display: inline-block;
    
}
nav li {
    display: inline-block;
    
}
nav li a {
    /* display: inline; */
    text-align: right;
    text-decoration: none;
    color: green;
}
h2 {
    font-weight: 400;
}